export(Arrange_Table)
export(BuildMultigroupDEGlist)
export(CalcMad)
export(CorrEstimate0)
export(do.GSVA)
export(do.ssGSEA)
export(doGO)
export(doKEGG)
export(doRA)
export(fpkmToTpm)
export(getDESeq2DEG)
export(MapSymbol)
export(MultiDunn)
export(NMFEstimate)
export(NormalizeTest)
export(Plot.Box.Lite)
export(Plot.lm.smooth)
export(PlotNES)
export(PlotNES.lite)
export(PlotPCA)
export(PlotPie)
export(PlotSanky)
export(PlotUMAP)
export(PrettyMsigdbName)
export(Print.Char)
export(Ranked.GS)
export(rmEnsemblDot)
export(rmSep)
export(UniCox)
export(WGCNACalcSFT)
export(wilcox.adj.test)
export(wilDEGs)
export(Write.tables)
export(MultiAOV)
export(scanpy.QueryDEG)
import(dplyr)
import(tibble)
import(enrichplot)
import(ggplot2)
import(ggsci)
import(GSVA)
import(NMF)
importFrom(Hmisc,capitalize)
importFrom(forcats,fct_reorder)
importFrom(WGCNA,pickSoftThreshold)
importFrom(cowplot,plot_grid)
importFrom(ggbiplot,ggbiplot)
importFrom(umap,umap)
importFrom(magrittr,"%>%")
importFrom(magrittr,"%<>%")
importFrom(clusterProfiler,bitr)
importFrom(clusterProfiler,enrichGO)
importFrom(clusterProfiler,enrichKEGG)
importFrom(DOSE,setReadable)
importFrom(ReactomePA,enrichPathway)
importFrom(ggalluvial,geom_alluvium)
importFrom(ggalluvial,geom_stratum)
importFrom(ggpubr,ggboxplot)
importFrom(ggpubr,ggpie)
importFrom(ggpubr,stat_compare_means)
importFrom(ggpubr,stat_cor)
importFrom(ggpubr,rotate_x_text)
importFrom(stringr,str_wrap)
importFrom(AnnotationDbi,mapIds)
importFrom(FSA,dunnTest)
importFrom(PMCMRplus,lsdTest)
importFrom(PMCMRplus,snkTest)
importFrom("grDevices", "dev.off", "pdf", "png")
importFrom("graphics", "abline", "par", "text")
importFrom("stats", "as.formula", "cor", "cor.test",
               "kruskal.test", "mad", "na.omit", "p.adjust", "prcomp",
               "shapiro.test", "wilcox.test")
importFrom("utils", "write.table")
importFrom(survival,coxph)

